/* styles/landing.module.css */
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .brandLabel {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .para{
    color: rgba(44, 105, 117, 1);

  }
  .healthkare{
    width: 215px;
  height: 48px;
  position: absolute;
  top: 34px;
  left: 46px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(44, 105, 117, 1);
  }
  
  .linksContainer {
    display: flex;
    justify-content: center;
  }
  
  .linkBox {
    width: 200px; /* Set a fixed width for both link boxes */
    margin: 0 10px;
    padding: 20px;
    background-color: white;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border:  2px solid #E0E0E0;
  }
  
  .linkBox:hover {
    outline: 2px solid #183b41;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .linkBox img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin: 0 auto 10px; /* Center the image */
  }
  
  .img2 img {
    width: 150px; /* Increase the width of the second image */
    height: 180px;
    display: block;
  }
  .body{
    display: block;
    background-color: #fcfcfc;
  }
  
  .img1 img {
    width: 150px; /* Adjust the width of the first image */
    height: 180px;
    display: block;
  }
