
.h2{
    text-align: center;
}
.body{
  background-color: #fff;
}
.head {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 10%;
    transform: translateX(-50%);
    font-size: 24px;
    color: rgb(10, 0, 0);
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    color: #100101;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 300px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: rgb(17, 0, 0);
    
  }
  
  .input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
  }
  .button {
    width: 420px;
    margin-right: 10px;
    padding: 10px;
    background-color: #183b41;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }


.newuser {
  text-align: center;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: rgba(44, 105, 117, 1);
  cursor: pointer;
}
.link {
  text-decoration: none;
  cursor: pointer;
  font-size: 19px;
  margin-right: 10px;
  padding-bottom: 5px;
}


.light-theme .link {
  color: #183b41; /* Color for light theme */
}

.dark-theme .link {
  color: #ffffff; /* Color for dark theme */
}

  
  .button:hover {
    background-color: #0056b3;
  }


.input:hover::placeholder {
  color: #183b41; /* Color for the text inside the placeholder */
}

.input:hover {
  outline: 2px solid #183b41; /* Color for the input bar outline */
}


  .image1{
        display: block; 
        /* margin: 0 auto;   */
        width: 90px;
        height: auto;   
        margin-left: 500px;
  }
  .image2{
    display: block; 
    /* top: -190px;
    right: -100px; */
    margin: 10px 0px 10px 0px;  
    width: 200px;
        height: auto; 
}
.image3 {
    position: absolute;
    top: -190px;
    right: -100px;
    width: 200px;
    height: auto;
    transform: translate(-50%, 50%);
  }
  .field {
    margin-bottom: 10px;
  }
  
  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"],
  .field input[type="number"] {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;

  }
  /* Arrange two fields on the same line */
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row input[type="text"],
  .row input[type="email"],
  .row input[type="password"],
  .row input[type="number"] {
    width: calc(45% - 5px);
  }
  
  /* Navigation buttons */
  .navigation {
    margin-top: 20px;
  }
  